.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 5rem;
}

.card {
  width: 225px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: transparent;
}

.card-contents {
  padding: 1rem;
}

.card img {
  width: 90%;
  height: auto;
}
