.card {
  width: 225px;
  height: 250px;
  border: 5px solid black;
  border-radius: 15px;
  background-color: transparent;
  transition: transform 0.2s ease;
  cursor: pointer;
}

/* Slight pop-out effect */
.card:hover {
  transform: scale(1.02);
  background-color: var(--secondary-background-colour);
}

/* Slight press-in effect */
.card:active {
  /* Add via javascript */
  transform: scale(0.9);
  border-color: red;
}

.card-contents {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.card-contents > img {
  width: 90%;
  height: 90%;
  padding: 0.5rem;
  object-fit: contain;
}

@media (max-width: 480px) {
  .card {
    width: 130px;
    height: 150px;
  }

  .card:hover {
    transform: none;
    background-color: unset;
  }

  .card:active {
    background-color: var(--secondary-background-colour);
  }

  .card-contents {
    padding: 0.3rem;
    font-size: 1.1rem;
  }
}
