.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  gap: 5rem;
}

@media (max-width: 767px) {
  .game-board {
    margin-top: 1rem;
    gap: 1.5rem;
  }
}
