header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo {
  font-size: 3rem;
  color: white;
  -webkit-text-stroke-width: 2px; /* Sets the outline thickness to 2 pixels */
  -webkit-text-stroke-color: black; /* Sets the outline color to black */
}

/* Tablet devices */
@media (min-width: 768px) {
  .logo {
    font-size: 4rem;
  }

  .header {
    margin-top: 1rem;
  }
}

/* PC devices */
@media (min-width: 1024px) {
  .header {
    margin-top: 0;
  }

  .logo {
    font-size: 5rem;
  }
}
