.main-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.logo > h1 {
  font-size: 4rem;
  color: white;
  -webkit-text-stroke-width: 2px; /* Sets the outline thickness to 2 pixels */
  -webkit-text-stroke-color: black; /* Sets the outline color to black */
  text-align: center;
}

/* Styles for mobile and smaller screens */
@media (max-width: 767px) {
  .main-header {
    margin-top: 2rem;
  }

  .logo > h1 {
    font-size: 2rem;
  }
}

/* Tablet devices */
@media (min-width: 768px) {
  .logo {
    font-size: 4rem;
  }

  .header {
    margin-top: 1rem;
  }
}

/* PC devices */
@media (min-width: 1024px) {
  .header {
    margin-top: 0;
  }

  .logo {
    font-size: 5rem;
  }
}
