.references-top {
}

.home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 3rem;

  transition: transform 0.2s ease;
  animation-name: popEffect;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.home-link:hover {
  transform: scale(1.2);
}

.references-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.reference {
  text-align: center;
  margin-bottom: 1rem;
  list-style-type: none;
  transition: transform 0.1s ease;
}

.reference > a {
  text-decoration: none;
  color: darkblue;
}

.reference > a:visited {
  color: darkblue;
}

@keyframes popEffect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1); /* Slightly larger */
    opacity: 0.8; /* Slightly less opaque */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Styles for screens up to 480px wide (e.g., small mobile phones in portrait) */
@media (max-width: 480px) {
  .home-link {
    margin-bottom: 1rem;
  }
}
