:root {
  --main-font: 'Ubuntu', sans-serif;
  --main-background-colour: #f8c6d0;
  --secondary-background-colour: #d0e9dbd7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--main-background-colour);
  font-family: var(--main-font);
  color: #000;
}
